
# OS
.DS_Store

# Credentials
config/passwords.php

# Generated at deploy time
config/version.php

# Private keys
*.p8

# IDE
.nova/Configuration.json
.nova/Publishing/Staging 22.04.json

# Legacy
classes/_notes/dwsync.xml
_notes/dwsync.xml
