
# OS
.DS_Store

# Credentials
config/passwords.php

# Generated at deploy time
config/version.php

# Private keys
*.p8

# IDE
.nova/
.editorconfig

# Legacy
classes/_notes/dwsync.xml
_notes/dwsync.xml
