RewriteEngine On

# Deny Access to Folder Indexes
Options -Indexes

# Down for Maintenance
# RewriteCond %{REQUEST_URI} !\.(css|ico|jpg|js|png)$
# My IP Address for testing
# RewriteCond %{REMOTE_ADDR} !^111\.111\.111\.111$
# RewriteRule .* /error/503.php [L]

# Redirect Error Pages
# ErrorDocument 403 /errors/403.php
# ErrorDocument 404 /errors/404.php
# ErrorDocument 500 /errors/500.php
# ErrorDocument 503 /errors/503.php

# Clean URLs
RewriteRule ^account/?$ 	account.php [L]
RewriteRule ^api-docs/?$	api-docs.php	[L]
RewriteRule ^api-usage/?$	api-usage.php	[L]
RewriteRule ^contact/?$		contact.php	[L]
RewriteRule ^login/?$ 		login.php [L]
RewriteRule ^logout/?$ 		logout.php [L]
RewriteRule ^privacy/?$		privacy.php	[L]
RewriteRule ^signup/?$		create-account.php [L]
RewriteRule ^terms/?$		terms.php	[L]
RewriteRule ^build-info/?$	build-info.php	[L]
RewriteRule ^welcome/?$ 	welcome.php [L]


# Redirect Pages
RewriteRule ^beer/add/([-0-9a-f]{36})$ beer-add.php?brewerID=$1 [L]
RewriteRule ^beer/([-0-9a-f]{36})/edit$ beer-edit.php?beerID=$1 [L]
RewriteRule ^beer/([-0-9a-f]{36})$ beer.php?beerID=$1 [L]
RewriteRule ^beer/?$ beer-list.php [L]

RewriteRule ^brewer/([-0-9a-f]{36})/add-location$ location-add.php?brewerID=$1 [L]
RewriteRule ^brewer/([-0-9a-f]{36})/edit$ brewer-edit.php?brewerID=$1 [L]
RewriteRule ^brewer/([-0-9a-f]{36})$ brewer.php?brewerID=$1 [L]
RewriteRule ^brewer/add$ brewer-add.php [L]
RewriteRule ^brewer/?$ brewer-list.php [L]

RewriteRule ^location/([-0-9a-f]{36})/add-address$ address-add.php?locationID=$1 [L]
RewriteRule ^location/([-0-9a-f]{36})/edit$ location-edit.php?locationID=$1 [L]
RewriteRule ^location/([-0-9a-f]{36})/edit-address$ address-edit.php?locationID=$1 [L]
RewriteRule ^location/([-0-9a-f]{36})/?$ brewer-list.php [L]
RewriteRule ^location/?$ brewer-list.php [L]

RewriteRule ^verify-email(\/[-0-9a-f]{36})?$ verify-email.php?emailAuth=$1 [L]

